<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>@ViewBag.Title - Pop Culture Time Capsule</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/TimeCapsuleDataCss.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Pop Culture Time Capsule", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            @Html.Partial("_BookPartial")
            @*@Html.Partial("_MoviePartial")*@
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Pop Culture Time Capsule</p>
            </footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @RenderSection("scripts", required: false)
</body>
</html>
